

h1 {
    /* border-right: 1vmin solid red;
    padding-right: 2vmin; */
}

.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand {
    /* structure */
    max-height: 72px;
    /* appearance */
    background-size: 70%;
}

/* start : burger */
nav .navbar-header .navbar-toggle {
    /* structure */
    height: 8vmin;
}
/* end : burger */




.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {
    background-color: #fff;
    
}

.navbar-default .navbar-collapse ul {
    padding: 0px;
    height: 8vmin;
}

.navbar-default .navbar-collapse ul li {
    padding: 1vmin 3vmin 1vmin 3vmin;
}

.navbar-default .navbar-collapse ul li a {
    color: #000;
}


main > section.oo-transparent-bg {
    /* structure */
    min-height: 10vmin;
}





.oo-jumbo {
    /* height: 50vmin; */
}

.oo-jumbo article {
    width: 70%;
}

.oo-gallery section > div {
    height: 20vmin;
}



