/*
============================================================
START : LAYOUT STRUCTURE
*/

html {
    /* structure */
    height: 100%;
}

body {
    /* structure */
    display: flex;              /* for footer */
    min-height: 100%;           /* for footer */
    flex-direction: column;     /* for footer */
}

main {
    /* structure */
    padding-top: 0px;
    padding-bottom: 0px;
    flex: 1;                    /* for footer */
}

header > section {
    /* structure */
    padding-right: 0px;
}

footer {
    /* structure */
    padding-top: 5vmax;
    padding-bottom: 5vmax;
}

main > section,
footer > section {
    /* structure */
    padding-top: 0px;
    padding-bottom: 0px;
}

header > section > section,
main > section > section,
footer > section > section {
    /* structure */
    margin: 0px auto;
    max-width: 992px;           /* 992 breakpoint blue */
    min-width: 250px;
}

main > section > section,
footer > section > section {
    /* structure */
    padding-top: 1vmax;
    padding-bottom: 1vmax;
    padding-left: 3vmax;
    padding-right: 3vmax;
}

/*
END : LAYOUT STRUCTURE
============================================================
*/