
/* 
BRANDING
*/

h1, h2, h3, h4, h5 {
    /* fonts */
    font-family: 'Varela', sans-serif;
    letter-spacing: -.089rem;
    color: #000;
}

/* ------------------------------------------- */
nav.navbar-default {
    /* appearance */
    background-color: #fff;
}

/* start : logo */
.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand {
    /* structure */
    height: 8vmax;
    min-height: 5vmin;
    width: 150px;
    /* appearance */
    background: url( '../images/logo.svg' );
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 3vmax 55%;
}
/* end : logo */

nav > .container-fluid .navbar-header {
    /* structure */
    border: 0px;
}

/* start : burger */
nav .navbar-header .navbar-toggle {
    /* structure */
    height: 8vmax;
    width: 8vmax;
    position: absolute;
    right: 0px;
    /* appearance */
    background-color: #f1f1f1;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    /* appearance */
    background-color: #f1f1f1;
}

nav .navbar-header .navbar-toggle .icon-bar {
    /* structure */
    margin: 0px auto;
    width: 35%;
    height: 1px;
    /* appearance */
    background-color: #5d5a54;
}

nav .navbar-header .navbar-toggle .icon-bar+.icon-bar {
    /* structure */
    margin-top: 4px;
}

nav .navbar-default .navbar-toggle:focus, 
nav .navbar-default .navbar-toggle:hover {
    /* appearance */
    background-color: #fff;
}
/* end : burger */


.navbar-default .navbar-collapse, 
.navbar-default .navbar-form {

    border: 0px;
    background-color: #372700;
    
}



.navbar-default .navbar-collapse ul li a {
    color: #fff;
}


/* ------------------------------------------- */

header {
    /* appearance */
    background-color: #fff;
}

main {
    /* appearance */
    background-color: #fff;
}

main > section {
    /* appearance */
    background-image: linear-gradient( to bottom, #f5f5f5 0, #e8e8e5 100% );
}

footer {
    /* appearance */
    background-color: #666666;
}

footer > section {
    /* appearance */
    background-color: #999999;
}
















body {
    /* appearance */
    /* background-image: linear-gradient( to bottom, #f5f5f5 0, #e8e8e5 100% ); */
}

header > section {
    /* structure */
    padding-right: 0px;
}

main {
    /* structure */
    padding-top: 0px;
    padding-bottom: 0px;
    /* appearance */
    background: #fff url( ../images/cover_pic_4.jpg ) no-repeat center center fixed;
    background-size: cover;
}

main > section.oo-transparent-bg {
    /* structure */
    min-height: 10vmax;
    /* appearance */
    background: transparent;
}