
/* 
BRANDING
*/
body {
    /* color: #635e52; */
}
/* ------------------------------------------- */
nav.navbar-default {
    background-color: #fff;
}

/* start : logo */
.navbar>.container .navbar-brand, 
.navbar>.container-fluid .navbar-brand {
    height: 8vmax;
    min-height: 5vmin;
    width: 150px;

    background: url( '../images/logo.svg' );
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 0px 55%;
}
/* end : logo */

nav > .container-fluid .navbar-header {
    border: 0px;
}

/* start : burger */
nav .navbar-header .navbar-toggle {
    background-color: #fff;
    height: 8vmax;
    width: 30px;
    text-align: center;
}

nav .navbar-header .navbar-toggle .icon-bar {
    background-color: #d6d6d6;
    width: 25px;
    height: 3px;
}

.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: #fff;
}

nav .navbar-header .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

nav .navbar-default .navbar-toggle:focus, 
nav .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
/* end : burger */
/* ------------------------------------------- */

header {
    background-color: #fff;;
}

main {
    background-color: #fff;
}

main > section {
    /* background-color: #ffcc00; */
    background-image: linear-gradient( to bottom, #f5f5f5 0, #e8e8e5 100% );
}

footer {
    background-color: #666666;
}

footer > section {
    background-color: #999999;
}







body {
    background-image: linear-gradient( to bottom, #f5f5f5 0, #e8e8e5 100% );
}

main {
    padding-top: 0px;
    padding-bottom: 0px;

    background: #fff url( ../images/cover_pic_4.jpg ) no-repeat center center fixed;
    background-size: cover;
}

main > section.oo-transparent-bg {
    background: transparent;
    min-height: 10vmax;
}